

.wrapper{margin: 0 auto; width: 100%; margin-bottom: 10em}

/***********************************************Navegacion Configuracion del sistema *********************************************************/
.confHeader{margin: 0 auto; width: 100%; height: 155px; padding: 1px 0 0 26px}
.confNavBar{margin: 0 auto; width: 100%; padding-left: 14px}
.confNavBtn{width: 13.3333%; height: 37px; color: #ffffff ;background-color: #196c94; -moz-border-radius: 0px;
-webkit-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px; box-shadow: 0px -2px 3px 1px rgba(0,0,0,0.75)}

.profBtn{
	padding:0;
	font-size:1.1em;
	width: 13.7%; height: 2em; 
	background-color: #00A79D; 
	color: #fff !important; 
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75)
}

.activetab{
	padding:0;
	font-size:1.1em;
	width: 13.7%; height: 2em; 
	background-color: #196A95;
	color: #fff !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75)
}

.profBtn:hover{
	background-color: #196A95;
}

.profBtn:active{
	background-color: #196A95;
	border-radius: 5px 5px 0px 0px; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75)
}

/**********************************************************************************************************************************************/


/***********************************************Navegacion Crear/Modificar/Inhabilitar Usuario *********************************************************/
.usuariosBtn{background-color: #ffffff; color: #196c94; border: 0px; font-size: 16px; margin-right: 35px; outline: none}
.usuarioMenu{padding-top: 18px;  margin: 0 auto; padding-top: 18px;text-align: center; width: 100%;}
/**********************************************************************************************************************************************/


/***********************************************Contenedor Borde Gris *********************************************************/
.content{width: 96.8%;margin: 0 auto; padding-bottom: 25px; }

/**********************************************************************************************************************************************/

/***********************************************Crear Usuario *********************************************************/
.crearUsuario{width: 85%; margin: 0 auto}
.contenedorInputs{margin-top: 35px}
.contenedorInputsSep{display:inline-block; width:49%; float:left;margin-bottom: 25px}
.labels label{margin-left: 18px}
/**********************************************************************************************************************************************/
/***********************************************Modificar Usuario *********************************************************/
.buscarUserContent{margin-top: 35px; border-bottom: 1px solid #05a897;padding-bottom: 20px;}
.buscarUserInput{margin-right: 15px;width: 45%;margin-left: 5px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;}
/**********************************************************************************************************************************************/

/***********************************************Inhabilitar Usuario *********************************************************/
.vistaUsuarios{padding-top: 30px}
.vistaUsuarios p{display: inline; margin-right: 24px}
.vistaUsuarios input[type=radio]{margin-right: 13px}
.inhabilitarSlct{ width: 80%}

/**********************************************************************************************************************************************/

/***********************************************Boton Guardar *********************************************************/
.guardarBtn{margin-bottom: 35px;margin-top: 40px;border:0px ;width: 94px; height: 30px;background-color: #196c94; color: #ffffff;-webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.75);
box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.75);}
/**********************************************************************************************************************************************/

/***********************************************Boton Buscar *********************************************************/
.buscarBtn{border:0px ;width: 94px; height: 30px;background-color: #196c94; color: #ffffff;-webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.75);
box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.75);}
/**********************************************************************************************************************************************/
/***********************************************TAB de Foros *********************************************************/
.caption{display: none;}
.vistaUsuarios input[type=number]{width: 65px}
.ranking-input{
	width: 70px !important;
}


.starsGuia{width: 35%; display: block;}
.starsImg{width: 130px}
/**********************************************************************************************************************************************/
/***********************************************TAB de Denuncias *********************************************************/
.denuncia{margin-top: 25px; border-top: 1px solid #000000;}
.denuncia p{color: #0e7598}
/**********************************************************************************************************************************************/
/***********************************************TAB de PROFESORES *********************************************************/
.profesoresInput{margin-top: 35px}
.eliminarProfesores{margin-top: 20px}
.eliminarProfesores p{display: inline;}
/**********************************************************************************************************************************************/


@media only all and (max-width : 640px){
	.profBtn{width:100%}
	.usuariosBtn{display: block; margin: 0 auto}
	.navbar-toggle{display: none;}


}

/**==================================================================================================================================== **/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;


