* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
}
body{
 
}

/************** forum 1 **************/
.forum h3, .forum-search h3, .forum-config h3, .forum-create h3{
  font-size: 27px;
  color: #434343;
  font-weight: normal;
}
.forum p, .forum-search p, .forum-config p, .forum-create p{
  font-size: 16px;
  color: #686666;
}
.forum .course{
  font-size: 24px;
  color: #196A95;
  text-align: center;
  margin-top: 45px;
}
.forum .course-title, .forum-config .config-forumSection .course-title{
  font-size: 16px;
  color: #595959;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
}
.forum .main-forum, .forum-config .config-forumSection .main-forum{
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  padding: 2%;
}

.forum a, .forum-search .Foro-lst a{
  text-decoration: underline;
}
.forum #add-comment, #forum-usrs{
  -webkit-box-shadow: -6px 0px 15px 0px rgba(50, 50, 50, 0.49);
  -moz-box-shadow:    -6px 0px 15px 0px rgba(50, 50, 50, 0.49);
  box-shadow:         -6px 0px 15px 0px rgba(50, 50, 50, 0.49);
  padding: 2%;
  margin-top: 40px;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 180px !important;
}
.forum .comments-lst h3{
  margin-top: 50px;
}
.forum #add-comment h3, .forum .comments-lst h3, .forum-search .Foro-lst h3, .forum-config .comments-lst h3 {
  font-size: 16px;
  color: #434343;
}
.forum #add-comment textarea, .forum-create textarea{
  width: 100%;
  resize: none;
  border-radius: 5px;
}
.forum #add-comment button{
  color: white;
}
.forum .comments-lst, .forum-config .comments-lst {
  margin-top: 20px;
}
.forum .comments-lst .comment-stars, .forum-config .comments-lst .comment-stars{
  display: inline-block;
  width: 15%;
  vertical-align: top;
  margin-right: 40px;
}
.forum .comments-lst .forum, .forum-search .Foro-lst p, .forum-config .comments-lst .forum, .forum-search .Foro-lst p{
  -webkit-box-shadow: inset -6px 0px 29px 2px rgba(50, 50, 50, 0.49);
  -moz-box-shadow:    inset -6px 0px 29px 2px rgba(50, 50, 50, 0.49);
  box-shadow:         inset -6px 0px 29px 2px rgba(50, 50, 50, 0.49);
  margin-top: 25px;
  background-color: #f5f5f5;
  color: #606060;
  font-size:16px;
  padding: 2%;
  
}
.forum .comments-lst h5{
  display: inline-block;
}
.forum .comments-lst h5 a, .forum-config .comments-lst h5 a{
  color: #818181;
  font-size: 13px;
}
.forum .comments-lst .star-rating{
  display: inline-block;
}
.forum .comments-lst .star-rating .caption, .forum-config .comments-lst .star-rating .caption{
  display: none;
}

/************** forum search **************/

.forum-search .search-section, .forum-create .create-forumSection{
  -webkit-box-shadow: -6px 0px 15px 0px rgba(50, 50, 50, 0.49);
  -moz-box-shadow:    -6px 0px 15px 0px rgba(50, 50, 50, 0.49);
  box-shadow:         -6px 0px 15px 0px rgba(50, 50, 50, 0.49);
  padding: 2%;
}
.forum-search .search-title, .forum-config .config-forumTitle, .forum-create .create-forumTitle, .header-forum-est{
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 0;
  padding: 10px 0;
}
.forum-search .search-section input{
  background: url('/Proyecto_1/img/search-icon.png') no-repeat center; 
  background-color: white;
  background-size: 4%;
  background-position: 98% 5px;
}
.forum-search .search-section span{
  width: 100%;
  height: 3px;
  background-color: #108198;
  display: inline-block;
}
.forum-search .search-section h4{
  font-size: 14px;
  color: #3d3d3d;
}

.forum-search .search-section select{
  width: 47%;
  margin: 10px 1%;
}
.forum-search .search-section > select:last-child{
  
}
.forum-search .search-section button{
  color: white;
  display: inline-block;
  text-align: right;
}

.forum-search div .loading{
  width: auto;
  max-width: 35px;
  margin-top: 10px;
  display: none;
}


/************** forum 3 **************/

.config-forumSection .course-title{
display: inline-block;
}
.config-forumSection a{
  margin-right: 2%;
  margin-top: 10px;
  color: #2f2f2f;
  text-decoration: none;
}
.forum-config .config-forumSection .main-forum{
  width: 100%;
  height: 120px;
  overflow: scroll;
}

.forum-usrs > div:nth-child(1) .moderador{
  display: inline-block;
}

.forum-usrs > div:nth-child(1) button{
  color: white;
}
#invitadosDisplay li{
  list-style: none;
}
.forum-config .inine-forum-list ul{
  margin-top: 10px;
}
.forum-config .inine-forum-list li{
  list-style: none;
}
/************** forum 4 **************/
.forum-create h4{
  font-size: 16px;
  color: #434343;
}

.forum-create .forum-title, .forum-create .forum-periodo{
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}
.forum-create select{
  width: 49%;
  margin-bottom: 10px;
}
.forum-create button{
  color: white;
  margin-top: 10px;
}
