* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
}
body{
  width: 100%;
  padding:0;
  height:100%;
    /* fallback */
  background-color: #F58e25;
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#F58e25), to(#fed312));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #fed312, #F58e25);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #fed312, #F58e25);

  /* IE 10 */
  background: -ms-linear-gradient(left, #fed312, #F58e25);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #fed312, #F58e25);
}
.form-control{
  display: inline-block;
}
.container{
  background-color: white;
  box-shadow: 0px 0px 40px 0px;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.main{
  padding: 3.5%;
  display: inline-block;
  width: 79.166666666667%;/*760px*/
  vertical-align: top;
  min-height: 500px;
}
.main .main-header{
  font-size: 27px;
  color: #434343;
  font-weight: normal;
  color: black;  
}
.main .main-text, .main-text{
  font-size: 16px;
  color: #686666;
  padding-bottom: 2.5em;
  margin:0;
}

.header, .footer, .side-nav h3, .btn-blue{
  /* fallback */
  background-color: #196A95;
  background-image: url(images/linear_bg_1.png);
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#196A95), to(#00A79D));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #00A79D, #196A95);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #00A79D, #196A95);

  /* IE 10 */
  background: -ms-linear-gradient(left, #00A79D, #196A95);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #00A79D, #196A95)
}
.navbar-collapse.collapse{
  height: 80px !important;
}

/* cerrar Sesión Sergio Herrera */
.topHeaderNav{
	width: 100%;
	padding: 0.5em 2% 0em 2%
}

.topHeaderNav a{
	width: 20%;
	text-align: right;
	color:#196A95;
	font-size: 1em;
	margin-left: 68%
	
}

#cerrarSesion{
	width: 12%;
	margin-left: 0
}
/* cerrar Sesión Sergio Herrera */

.header{
  width: 100%;
  margin-top: 10px;
}
.header form{
  padding-top: 15px;
}
.header .logo{
  float: left;
  width: 15%;
  padding: 1%;
}
.header ul{
  height: 100%;
  margin-left: 5%;
}
.header ul li{
  height: 100%;
}
.header ul li a{
  color: white !important;
  padding-top: 32px !important;  
  height: 100% !important;
}

.header ul li a:hover{
  background-color: #196A95 !important;
}
.header input{
  background: url('/Proyecto_1/img/search-icon.png') no-repeat center; 
  background-color: white;
  background-size: 13%;
  background-position: 90% 5px;
}
.navbar-collapse.collapse{
  height: auto !important;
  padding: 0 !important;
}
.navbar-collapse.collapsing{
 padding: 0 !important; 
}
.navbar-collapse.collapse ul, .navbar-collapse.collapsing ul{
  height: 80px !important;
  margin: 0 !important;
}
.navbar-collapse.collapse form, .navbar-collapse.collapsing form{
  /*display: none;*/
}

.footer{
  font-size: 12px;
  color: white;
  text-align: center;
  width:100%;
  height:auto;   /* Height of the footer */
  padding: 2%;
}
.footer .f-facebook{
  background: url('/Proyecto_1/img/boton-social-facebook-foreground.png') no-repeat center; 
  display: inline-block;
  width: 4%;
  height: 20px;
}
.footer .f-twitter{
  background: url('/Proyecto_1/img/boton-social-twitter-foreground.png') no-repeat center; 
  display: inline-block;
  width: 4%;
  height: 20px;
}
.footer .f-linked{
  background: url('/Proyecto_1/img/boton-social-linkedin-foreground.png') no-repeat center; 
  display: inline-block;
  width: 4%;
  height: 20px;

}
.footer .f-youtube{
  background: url('/Proyecto_1/img/boton-social-youtube-foreground.png') no-repeat center; 
  display: inline-block;
  width: 4%;
  height: 20px;
}

.side-nav{
  width: 20.520833333333%; /*200px -2px*/
  display: inline-block;
  border-right: 2px solid #d5e4ec;
  text-align: center;
}
.side-nav .usr-stars, img{
  width: 80%;
  margin: 0 auto;
}

#star{
  width: 80%;
  margin: 0 auto;
}
.side-nav h3{
  color: white;
  font-size: 15px;
  padding: 8px 0;
  margin-top: 5px;
}
.side-nav ul{
  padding-left: 0;
}

.side-nav ul li{
  list-style: none;
  text-align: left;
  padding-left:25%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.side-nav ul li:hover, .side-nav ul li.active{
  background-color: #ebebeb;
  border-left: 5px #00a79c solid;
}

.side-nav ul li a{
  text-decoration: none;
  color: black;
  width: 100%;
  display: inline-block;
}

/******   Breakpoints   *******/
/* Small devices (tablets, 768px and up) */
@media (max-width: 600px) {
  .main.row{
    width: 100%;
    padding: 0% 0 0px 10%;
  }
  .side-nav{
    border:none;
    width: 100%;
  }
  .side-nav img.usr-avatar {
    width: 95px;
  }
  .side-nav img.usr-stars{
    width: 30%;

  }
  .side-nav ul li{
    text-align: center;
    padding-left: 0;
  }
  .side-nav ul li:hover{
    padding-left: 0;
  }
  .header .logo{
    width: 95px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }




