/**inicia blog1 MK2 Sergio Herrera */



.list-group-item{
	border:none;
	
}
.userblog, .userblogVisit{
	width: 100%;
	padding: 0em 0% 0em 0;
}


.titleblog{
	width: 100%;
}

.titleblog h1{
	width: 100%;
	padding: 0em 0% 0.6em 0%;
	margin: 0;
	color:#686666
}

.titleblog p{
	width: 100%;
	padding: 0em 0% 0.6em 0%;
	margin: 0;
	color:#686666;
	font-size: 1.2em
}

/**termina título */
/**inicia boton */
.contBtn{
	width: 100%;
	height: 2.2em;
	
}

.contBtn .blog1Btn{
	padding:0;
	font-size:1.1em;
	width: 100%; height: 2em; 
	background-color: #00A79D; 
	color: #ffffff; 
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75)
}

.contBtn .blog1Btn:active{
	background-color: #196A95;
	border-radius: 5px 5px 0px 0px; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75)
}
	

/**inicia contenedor blog1*/
.contBlog1{
	width: 100%;
	box-shadow: 0px 0px 5px 0px;
	padding: 1em 2% 1em 2%;
}

/**inicia contenedor form */
	
.contBlog1 .formAddBlog {
	width: 100%;
}

.contBlog1 .formAddBlog label, input, textarea{
	margin-bottom: 1em;
}

.contBlog1 .formAddBlog label{
	width: 8%;
}

#tituloBlog1{
	width: 60%;
	display: inline-block;
}

#dateBlog1{
	width: 22%;
	height: 1.9em;
	display: inline-block;
}

#textB1{
	width:100%;
	display: block;
}

#textBlog1{
	width: 100%;
}

.btnaddBlog{
	padding:0;
	font-size:1.1em;
	width: 10%; 
	height: 2em; 
	background-color: #196A95; 
	color: #ffffff; 
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	
}

.compartirPost{
	width: 90%;
	font-size:1.1em;
	height: 2em; 
	color:#686666; 
	text-align: right;
	padding: 0.5em 2%
}
/**Inicia Mis blog1 Sergio Herrera */
.misBlogs1{
	width: 100%
}

.misBlogs1 .headerMiblogs{
	width: 100%;
	padding-bottom: 1em;
}

.linktituloBlog1{
	width: auto;
	text-decoration: underline;
	color: #428bca;
	padding-right: 1%;
	max-width: 30%;
}

.editdelete{
	text-align: right;
	color:black;
	margin-left: 1%;
}

.contMiBlog1{
	width: 100%
}

.cerrar{
	padding: 0.2em 2%;
}

.contMiBlog1 .textmiblog{
 	-webkit-box-shadow: inset -6px 0px 29px 2px rgba(50, 50, 50, 0.49);
	-moz-box-shadow: inset -6px 0px 29px 2px rgba(50, 50, 50, 0.49);
	box-shadow: inset -6px 0px 29px 2px rgba(50, 50, 50, 0.49);
	background-color: #f5f5f5;
	color: #606060;
	font-size: 16px;
	padding: 1em 2%;
	max-height:3em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/**cierra blog1 MK2 Sergio Herrera */
/**Iniciablog3 MK4 Sergio Herrera */
.blogsearch{
	width: 100%;
	margin-bottom: 0.5em;
	background: url('/Proyecto_1/img/search-icon.png') no-repeat center; 
	background-color: white;
	background-size: 4%;
	background-position: 98% 5px;
}
.linea{
  width: 100%;
  height: 0.2em;
  background-color: #196A95;
  display: inline-block;
	
}

.slctSearchblog{
		width: 29%;
		height: 2em
}
	
		
/**cierra blog3 MK4 Sergio Herrera */
	
	
	
/**Iniciablog4 MK5 Sergio Herrera */
.contblog, .misBlogs4{
	width: 100%;
}

.contblog h3{
	font-size: 20px;
}

	
.misBlogs4 .miblog4{
	width: 100%;
	padding: 0.5em 1%;
	border: solid 1px #bebebe;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
}

.misBlogs4 .linkcometarblog{
	color: black;
	text-decoration: none;
}
.misBlogs4 .linkcometarblog:hover, .editdelete:hover{
	color: black;
	text-decoration: none;
}

#contcomentblog{
	width: 100%;
	padding: 1em 2%;
	margin: 1em 0 1em 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  	-moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.75);
 	 box-shadow:        0px 0px 4px 0px rgba(0, 0, 0, 0.75);

}
#contcomentblog label, textarea{
	display: block
}
#contcomentblog textarea{
	width: 100%
}
.comentBlogs h3{
	font-size: 16px;
	color: #434343;	
}
.comentBlogs .comentmiblog4{
	width: 100%;
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  	-moz-box-shadow:    inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
 	 box-shadow:         inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
 	 padding: 1em 2%
}	

.comentBlogs .denunciarblogcomt{
	
}
	
/**cierra blog3 MK4 Sergio Herrera */



/*Compartir en redes sociales KeilynSibaja*/
.ir 
{
	display: block;
	text-indent: -99999px;
}
.sprites
{
	background: url('../img/redessociales.png') 0 0;
	background-repeat: 0 none;
	width: 35px;
	height: 40px;
}
.lista li 
{
	float: left;
	margin-left: 10px;
	
}
.lista #Twitter
{
	background-position: -0px 0px;	
}
.lista #Facebook
{
	background-position: -41px 0px;
}
.lista #GooglePlus
{
	background-position: -84px 0px;	
}
.lista #Twitter:active
{
	background-position: -125px 0px;	
}
.lista #Facebook:active
{
	background-position: -165px 0px;
}
.lista #GooglePlus:active
{
	background-position: -209px 0px;	
}
.cf:before,
.cf:after{
	display: table;
	content: ''
}
.cf:after{
	clear: both;
}

/*Compartir en redes sociales KeilynSibaja*/

/*user-blog5*/
.btnEditarPost{
	width: 100%;
	color: white;
	padding: 0.5em;
	border-radius: 1em;
	margin-top: 4em;
}
#divEditarPost{
	padding: 1em;
}
.titulo-fecha{
	width: 100%;

}
.titulo-fecha span:nth-child(2){
	color: gray;
	margin-left: 2%;

}
.editar-eliminar{
	margin-bottom: 1em;
}
.editar-eliminar a{
	color: gray;
	margin-left: 1%;
}
.editar-eliminar a:active{
	color: black;
}
.post-editado textarea{
	width: 100%;
	height: 15em;
	padding: 1em;
	border: 1px solid gray;
	border-radius: 1em;
}
.fechasComent{
	color: gray;
	margin-left: 2%
}
.comentarios{
	margin-top: 2em;
}

.active1{
  background-color: #ebebeb;
  border-left: 5px #00a79c solid;
  padding-left:22.5%;
}

.active2{
  background-color: #ebebeb;
  border-left: 5px #00a79c solid;
  padding-left:22.5%;
}


.loading{
  width: auto;
  max-width: 35px;
  margin-top: 10px;
  display: none;
}
/*user-blog5*/
