    <div ng-show="estudianteContr.isSelected(1, confPanel.tab)" >                         
                            <div class="profesoresInput cf">
                                         <div class="contenedorInputsSep">
                                          <label>Seleccione una Carrera</label><br>
                                          <select class="inhabilitarSlct">
                                             <option>Option1</option>
                                            <option>Option2</option>
                                          </select>
                                      </div>

                                      <div class="contenedorInputsSep">
                                          <label>Seleccione un Curso</label><br>
                                          <select class="inhabilitarSlct">
                                             <option>Option1</option>
                                            <option>Option2</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="buscarUserContent cf">
                                        <h4>Ingresar Estudiantes</h4>
                                        <!-- ASIGNAR ESTUDIANTES   -->
                                        <div><img src="img/asignarEstudiante.jpg"></div>
                                        <!-- ASIGNAR ESTUDIANTES   -->
                                         <button type="submit" class="guardarBtn pull-right">Guardar</button>
                                   </div>
                                   <h4>Agregados</h4>
                                   <div class="eliminarProfesores">
                                    <p>Nombre de Usuario</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                                    </div>
                                    <div class="eliminarProfesores">
                                    <p>Nombre de Usuario</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                                    </div>
                                    <div class="eliminarProfesores">
                                    <p>Nombre de Usuario</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                                    </div>
                                    <div class="eliminarProfesores">
                                    <p>Nombre de Usuario</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                                    </div>
  </div>