   <div ng-show="profesorContr.isSelected(1, confPanel.tab)" ng-controller="ControlProfesores as profes">                  
                    
          <div class="contenedorInputs">
            <label>Nombre del Profesor</label>
               <select class="form-control" ng-model="profes.profe" ng-options="profe.id_usuario as (profe.nombre+' '+profe.apellido) for profe in conf.usuarios" ng-change="profes.activarCarrera()" required>
               	    <option value="" >Seleccione un Profesor</option>	
                </select>
        </div>
          <div class="profesoresInput cf">
                 <div class="contenedorInputsSep">
                  <label>Seleccione una Carrera</label><br>
                  <!-- <select ng-disabled="profes.estadoCarrera"  class="form-control inhabilitarSlct" ng-style="profes.styleCarrera" ng-model="profes.carrera" ng-options="carrera.id  as carrera.nombre for carrera in conf.carreras" ng-change="profes.activarCurso()" required> 
                  <option value="" >Seleccione una Carrera</option>
                   -->
                  <!-- </select> -->
                  <select ng-disabled="profes.estadoCarrera" class="inhabilitarSlct form-control select-carrera-asignaprofe" ng-model="conf.miCarrera" ng-options="carrera.nombre for carrera in conf.carreras track by carrera.id_carrera" ng-change="conf.selectCurso2() ; profes.activarCurso()">
                    <option value="" >Seleccione un Carrera</option>  
                  </select>
                 
              </div>

              <div class="contenedorInputsSep">
                  <label>Seleccione un Curso</label><br>
                  <!-- <select ng-disabled="profes.estadoCurso" class="form-control inhabilitarSlct" ng-style="profes.styleCurso" ng-model="profes.curso" ng-options="curso.id  as curso.nombreCurso for curso in conf.carreras[profes.carrera].cursos" required>
                  <option value="" >Seleccione un Curso</option>
                  </select> -->
                  <select  ng-disabled="profes.estadoCurso" class="form-control inhabilitarSlct select-curso-asignaprofe" ng-model="conf.miCursoMC" ng-options="curso.nombre for curso in conf.cursosCarrera track by curso.id_curso" ng-change="conf.modifCurso()">
                     <option value="" >Seleccione un Curso</option>
                  </select>
              </div>

          </div>

    <button type="submit" class="guardarBtn pull-right" ng-click="profes.guardarProfesor(conf.carreras,conf.profecurso)">Guardar</button>
				<span class="msgProfe" ng-style="profes.msg">El profesor ya está asignado a un curso</span>
     
      </div>