<div class="contBtn">
		<button href="#addBlog" id="blog1Btnid" type="button" data-toggle="collapse" class="btn blog1Btn btn-blue">Crear Blog</button>
	</div>
	<div id="addBlog" class="contBlog1 panel-collapse collapse" >
	 		
	 	<form ng-controller="AddBlogController as addblog" class="formAddBlog clearfix" role="form" name="addBlogs" ng-submit="addBlogs.$valid && addblog.addPost(usuario.user[cookieValue], usuario.listaPost)">	
	 		<label for="tituloBlog1">Título:</label>
	 		<input type="text" class="imptitulo form-control addBlogBtn" id="tituloBlog1" placeholder="Mi título" ng-model="addblog.newblog.titulo"/>
	 		<label for="dateBlog1">Fecha:</label>
	 		<input type="text" id="dateBlog1" ng-model="addblog.newblog.fecha" placeholder="{{addblog.newblog.fecha}}" class="form-control" disabled/>
	 		<label for="textBlog1" id="textB1">Ingresar Post:</label>
	 		<textarea name="Name" class="form-control addBlogBtn" rows="8" cols="80" id="textBlog1" placeholder="Mi texto" ng-model="addblog.newblog.texto"></textarea>
 			<button type="submit" class="btnaddBlog pull-right" value="submit">Guardar</button>
 		</form>
</div>