<div class="contBtn">
		<button href="#srchBlog" id="blog1Btnid" type="button" data-toggle="collapse" class="btn blog1Btn btn-blue">Buscar Blog</button>
	</div>
	<div id="srchBlog" class="contBlog1 panel-collapse collapse.in" >
	 	<form class="formAddBlog clearfix" role="form" name="searchBlogs">	
	 	<input type="search" id="searchBlog" class="form-control blogsearch" placeholder="Buscar" ng-model="buscarBlog.user" ng-change="buscarBlog.searchUser()"/>
			<span class="linea"></span>	
		</form>
	 	<form class="formAddBlog clearfix" role="form" name="searchBlogs">	

            <h4>Búsqueda Avanzada</h4>

            <select id="cursoslt" class="slctSearchblog form-control" ng-model="idcarrera" ng-options="carre.id_carrera as carre.nombre for carre in usuario.carreras" ng-change="buscarBlog.buscarCarrera(idcarrera)">
			<option id="opt1" value="">Seleccione un Carrera</option>	

            </select>
        
            <select id="cursosslt" class="form-control slctSearchblog" ng-model="idcurso" ng-style="buscarBlog.styleSelectCurso" ng-options="curs.id_curso as curs.nombre for curs in buscarBlog.curso " ng-disabled="buscarBlog.tempEstadoCurso" ng-change="buscarBlog.buscarCurso(idcurso)">
              <option value="" disabled>Seleccione un Curso</option>

            </select>
            <select id="userslt" class="slctSearchblog form-control" ng-model="idusuario" ng-options="user.id_usuario as (user.nombre+' '+user.apellido) for user in buscarBlog.usuario" ng-style="buscarBlog.styleSelectUser" ng-disabled="buscarBlog.tempEstadoUsuario" ng-change="buscarBlog.buscarUs(idusuario)">
              <option value="" disabled>Seleccione un Usuario</option>


            </select>
	 		<button id="btnBusAvan" type="submit" class="btnaddBlog pull-right" value="submit" ng-click="buscarBlog.resetSearch()">Limpiar</button>
			<div style="text-align: center;"><img src="/Proyecto_1/img/loading.gif" class="loading" /> </div>
 		</form>
</div>
