<div ng-show="confPanel.isSelected(4)" >

			<div class="usuarioMenu">
                <button type="button" class="usuariosBtn"><a ng-click="carreraContr.selectTab(1)" ng-style="carreraContr.style1">Crear Carrera</a></button>
                <button type="button" class="usuariosBtn" ><a ng-click="carreraContr.selectTab(2)" ng-style="carreraContr.style2">Modificar Carrera</a></button>
                <button type="button" class="usuariosBtn" ><a ng-click="carreraContr.selectTab(3)" ng-style="carreraContr.style3">Inhabilitar Carrera</a></button> 
            </div>
</div>