<div class="confHeader">

   <h1>Configuracion del Sistema</h1>
   <p>En esta seccion usted podra configurar el sistema en general, seleccione<br> las opciones que quiera para acceder a las direfentes secciones de configuracion</p>
   
</div> 

<div class="confNavBar">
   <button type="button" class="btn confNavBtn" ng-click="mostrarTabUsuario = !mostrarTabUsuario">Usuario</button>
   <button type="button" class="btn confNavBtn">Foros</button>
   <button type="button" class="btn confNavBtn">Denuncias</button>
   <button type="button" class="btn confNavBtn">Carreras</button>
   <button type="button" class="btn confNavBtn">Cursos</button>
   <button type="button" class="btn confNavBtn">Profesores</button>
   <button type="button" class="btn confNavBtn">Estudiantes</button>
   </div>
  
  </div>
