<div class="confHeader" >

   <h1>Configuracion del Sistema</h1>
   <p>En esta seccion usted podra configurar el sistema en general, seleccione<br> las opciones que quiera para acceder a las direfentes secciones de configuracion</p>
   
</div> 

<div class="confNavBar" ng-controller="usuarioController as userContr">
   <button type="button" class="btn confNavBtn"><a ng-click="confPanel.selectTab(1)">Usuario</a></button>
   <button type="button" class="btn confNavBtn"><a ng-click="confPanel.selectTab(2)">Foros</a></button>
   <button type="button" class="btn confNavBtn"><a ng-click="confPanel.selectTab(3)">Denuncias</a></button>
   <button type="button" class="btn confNavBtn"><a ng-click="confPanel.selectTab(4)">Carreras</a></button>
   <button type="button" class="btn confNavBtn"><a ng-click="confPanel.selectTab(5)">Cursos</a></button>
   <button type="button" class="btn confNavBtn"><a ng-click="confPanel.selectTab(6)">Profesores</a></button>
   <button type="button" class="btn confNavBtn"><a ng-click="confPanel.selectTab(7)">Estudiantes</a></button>
   </div>
  
  </div>
