<div class="confHeader" >

   <h1>Configuracion del Sistema</h1>
   <p>En esta seccion usted podra configurar el sistema en general, seleccione<br> las opciones que quiera para acceder a las direfentes secciones de configuracion</p>
   
</div> 

<div class="confNavBar" ng-controller="usuarioController as userContr">
   <button type="button" class="btn confNavBtn" ng-click="confPanel.selectTab(1)">Usuario</button>
   <button type="button" class="btn confNavBtn" ng-click="confPanel.selectTab(2)">Foros</button>
   <button type="button" class="btn confNavBtn" ng-click="confPanel.selectTab(3)">Denuncias</button>
   <button type="button" class="btn confNavBtn" ng-click="confPanel.selectTab(4)">Carreras</button>
   <button type="button" class="btn confNavBtn" ng-click="confPanel.selectTab(5)">Curso</button>
   <button type="button" class="btn confNavBtn" ng-click="confPanel.selectTab(6)">Profesores</button>
   <button type="button" class="btn confNavBtn" ng-click="confPanel.selectTab(7)">Estudiantes</button>
   </div>
  
  </div>
