
<div ng-show="carreraContr.isSelected(1, confPanel.tab)" >

	 <form role="form cf" name="crearCarreaForm" ng-submit="conf.addCarrera()">

		<div class="contenedorInputs">		
		      <label>Código de Carrera</label>
			  <input type="text" class="form-control" ng-model="conf.miCarrera.codigo" required>
		</div>

		<div class="contenedorInputs">
		      <label>Nombre Carrera</label>
		      <input type="text" class="form-control" ng-model="conf.miCarrera.nombre" required>
		</div>

		<button type="submit" class="guardarBtn" value="submit">Guardar</button>

	</form>
</div>