<!--   <div class="crearUsuario cf" ng-show="panel.isSelected(1)">  -->
   <div class="crearUsuario cf"> 

              <form role="form cf">
                  <div class="contenedorInputs">
                      <label>Nombre del Usuario</label>
                      <input type="text" class="form-control">
                  </div>
                    
                      <div class="contenedorInputs contenedorInputsSep">
                            <label>Genero</label><br>
                           
                           <label>Hombre</label>
                           <input type="radio" name="genero">
                           <label>Mujer</label>
                           <input type="radio" name="genero"> 
                       </div>
                       <div class="contenedorInputs contenedorInputsSep">
                           <label>Correo del Usuario</label>
                          <input type="email" class="form-control"> 
                      </div>
                     <div class="contenedorInputs">
                          <label>Contraseña</label>
                          <input type="password" class="form-control">
                      </div>

                    <div class="contenedorInputs labels">
                       <label>Categoria</label>
                           
                           <label>Director</label>
                           <input type="radio" name="tipoUsuario">
                           <label>Rector</label>
                           <input type="radio" name="tipoUsuario"> 
                           <label>Profesor</label>
                           <input type="radio" name="tipoUsuario">
                           <label>Estudiante</label>
                           <input type="radio" name="tipoUsuario">  
                    </div>

                    <button type="submit" class="guardarBtn pull-right">Guardar</button>
                  
              </form>
            </div>