
 <div ng-show="cursoContr.isSelected(1, confPanel.tab)">


                          <div class="contenedorInputs">
                              
                              <select id="crearCursoSel" class="form-control" ng-model="conf.miCarreraCC" ng-options="carrera.nombre for carrera in conf.carreras">
                              <option value="" >Seleccione un Carrera</option>  

                                    </select>
                            
                          </div>

                        <div class="contenedorInputs">
                                <label>Codigo del Curso</label>
                                <input type="text" class="form-control" ng-model="conf.miCursoCC.idCurso">
                        </div>
                        <div class="contenedorInputs">
                                <label>Nombre del Curso</label>
                                <input type="text" class="form-control" ng-model="conf.miCursoCC.nombreCurso">
  
                        </div>

            <button type="submit" class="guardarBtn " ng-click="conf.crearCurso()" >Guardar</button> 
  <!-- </form> -->
</div>