<!--   <div class="crearUsuario cf" ng-show="panel.isSelected(1)">  -->
    <!-- <div ng-show="mostrarCrearUsuario"> -->
    <div ng-show="userContr.isSelected(1, confPanel.tab)" >
   <div class="crearUsuario cf"> 
         
              <form role="form cf" name="crearUsuarioForm" ng-controller="crearUserController as crearUser" ng-submit="crearUsuarioForm.$valid && crearUser.addUser(conf.usuarios)">
                  <div class="contenedorInputs">
                      <label>Nombre del Usuario</label>
                      <input type="text" class="form-control" ng-model="crearUser.user.nombre" id="nombUser">
                      <label>Apellido del Usuario</label>
                      <input type="text" class="form-control" ng-model="crearUser.user.apellido" id="apellidoUser">
                  </div>
                    
                      <div class="contenedorInputs contenedorInputsSep">
                            <label>Género</label><br>
                           
                           <label>Hombre</label>
                           <input type="radio" class="genero" name="genero" value="m" ng-model="crearUser.user.genero" required >
                           <label>Mujer</label>
                           <input type="radio" class="genero" name="genero" value="f" ng-model="crearUser.user.genero" required > 
                       </div>
                       <div class="contenedorInputs contenedorInputsSep">
                           <label>Correo del Usuario</label>
                          <input type="email" class="form-control" ng-model="crearUser.user.correo" id="correoUser" > 
                      </div>
                     <div class="contenedorInputs">
                          <label>Contraseña</label>
                          <input type="password" class="form-control" ng-model="crearUser.user.password" id="passwUser" >
                      </div>

                    <div class="contenedorInputs labels">
                       <label>Categoría</label><br>
                           
                           <label>Director</label>
                           <input type="radio" name="tipoUsuario" value="d" ng-model="crearUser.user.categoria" required >
                           <label>Rector</label>
                           <input type="radio" name="tipoUsuario" value="r" ng-model="crearUser.user.categoria" required > 
                           <label>Profesor</label>
                           <input type="radio" name="tipoUsuario" value="p" ng-model="crearUser.user.categoria" required >
                           <label>Estudiante</label>
                           <input type="radio" name="tipoUsuario" value="e" ng-model="crearUser.user.categoria" required >  
                    </div>

                    <button type="submit" class="guardarBtn pull-right" value="submit">Guardar</button>
                  
              </form>
            </div>

            </div>