
<div ng-show="carreraContr.isSelected(1, confPanel.tab)" >

	 <form role="form cf" name="crearCarreaForm" ng-controller="crearCarreraController as crearCarrera" ng-submit="crearCarrera.addCarrera(conf.carreras)">

		<div class="contenedorInputs">		
		      <label>Codigo de Carrera</label>
			  <input type="text" class="form-control" ng-model="crearCarrera.carrera.codigo" required>
		</div>

		<div class="contenedorInputs">
		      <label>Nombre Carrera</label>
		      <input type="text" class="form-control" ng-model="crearCarrera.carrera.nombre" required>
		</div>

		<button type="submit" class="guardarBtn" value="submit">Guardar</button>

	</form>
</div>