
<div ng-show="carreraContr.isSelected(1, confPanel.tab)" >
		<div class="contenedorInputs">
		                      <label>Codigo de Carrera</label>
		                      <input type="text" class="form-control">
		                  </div>

		              <div class="contenedorInputs">
		                      <label>Nombre Carrera</label>
		                      <input type="text" class="form-control">
		                  </div>

		            <button type="submit" class="guardarBtn ">Guardar</button>
</div>