<div ng-show="cursoContr.isSelected(1, confPanel.tab)">
  <div class="contenedorInputs" ng-controller="CarrerasController as universidad">
    <!-- <select class="form-control select-carrera-creaCurso" ng-change="conf.modifCarrera()" ng-model="cong.miCarrera">
      <option val="-1" disable>Seleccione una Carrera</option>
      <option ng-repeat="carrera in universidad.carreras" value="{{carrera.id_carrera}}" >{{carrera.nombre}}</option>
    </select> -->
    <select id="cursoslt" class="form-control select-carrera-creaCurso" ng-model="conf.miCarrera" ng-options="carrera.nombre for carrera in conf.carreras track by carrera.id_carrera" ng-change="conf.selectCurso()">
        <option value="" >Seleccione un Carrera</option>  
    </select>
  </div>
  <div class="contenedorInputs">
    <label>Código del Curso</label>
    <input type="text" class="form-control" ng-model="conf.miCursoCC.idCurso" id="codCurso" required>
  </div>
  <div class="contenedorInputs">
    <label>Nombre del Curso</label>
    <input type="text" class="form-control" ng-model="conf.miCursoCC.nombreCurso" id="nomCurso" required>
  </div>
  <button type="submit" class="guardarBtn pull-right" ng-click="conf.crearCurso()" >Guardar</button> 
</div>