<div class="contenedorInputs buscarUserContent">
                                        <label>Nombre del Profesor</label>
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                        </select>
                                    </div>
                              <h4>Nombre del Profesor</h4>
                              <div class="eliminarProfesores">
                              <p>Nombre del Curso Asignado</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                              </div>
                              <div class="eliminarProfesores">
                              <p>Nombre del Curso Asignado</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                              </div>
                              <div class="eliminarProfesores">
                              <p>Nombre del Curso Asignado</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                              </div>