   <div ng-show="estudianteContr.isSelected(2, confPanel.tab)" >                    

                    <div class="buscarUserContent">
                              <label>Estudiantes</label>
                              <input type="text" class="buscarUserInput">
                              <button type="submit" class="buscarBtn">Buscar</button>
                              <div class="eliminarProfesores">
                              <p>Nombre del Curso Asignado</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                              </div>
                              <div class="eliminarProfesores">
                              <p>Nombre del Curso Asignado</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                              </div>
                          </div>

                         
                          <div class="profesoresInput cf">
                                         <div class="contenedorInputsSep">
                                          <label>Seleccione una Carrera</label><br>
                                          <select class="inhabilitarSlct">
                                             <option>Option1</option>
                                            <option>Option2</option>
                                          </select>
                                      </div>

                                      <div class="contenedorInputsSep">
                                          <label>Seleccione un Curso</label><br>
                                          <select class="inhabilitarSlct">
                                             <option>Option1</option>
                                            <option>Option2</option>
                                          </select>
                                      </div>
                                  </div>
                          <h4>Agregados</h4>
                                   <div class="eliminarProfesores">
                                    <p>Nombre de Usuario</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                                    </div>
                                    <div class="eliminarProfesores">
                                    <p>Nombre de Usuario</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                                    </div>
                                    <div class="eliminarProfesores">
                                    <p>Nombre de Usuario</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                                    </div>
                                    <div class="eliminarProfesores">
                                    <p>Nombre de Usuario</p> <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
                                    </div>

    </div>