<div class="footer">
	<p>Universidad CENFOTEC Derechos Reservados 2012-2014 Teléfono: +506 2281-1555. info@ucenfotec.ac.cr</p>
	<p>Santa Marta - San Pedro de Montes Oca, del Cruce de la Escuela de Santa Marta 400 metros noreste carretera al Cristo de Sabanilla, San José, Costa Rica</p>
	<div>
		<a class="f-facebook" href="https://www.facebook.com/Cenfotec"></a>
		<a class="f-twitter" href="https://twitter.com/UCenfotec"></a>
		<a class="f-linked" href="http://www.linkedin.com/company/universidad-cenfotec"></a>
		<a class="f-youtube" href="http://www.youtube.com/user/cenfotec00"></a>
	</div>
</div>

