<!-- cerrar Sesión Sergio Herrera-->
<div class="topHeaderNav clearfix" ng-controller="UserController as usuario">
	    <a href="" ng-controller="validarLogin as login" id="cerrarSesion" class="pull-right clearfix" ng-click="login.logOut()">Cerrar Sesión</a>
	  	<a href="/Proyecto_1/user-profile.html" id="usuario" class="pull-right clearfix" data-type="{{usuario.user[cookieValue].tipo}}">{{usuario.user[cookieValue].usuario}}</a>
</div>
<!-- cerrar Sesión Sergio Herrera-->
<div ng-controller="routeController as route">
	<nav class="header navbar navbar-default" role="navigation">
	  <img class="logo" src="/Proyecto_1/img/logo_cenfo.png">
	  <div class="container-fluid">

	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	   
	  </div><!-- /.container-fluid -->
	</nav>
</div>