<!-- cerrar Sesión Sergio Herrera-->
<div class="topHeaderNav clearfix" ng-controller="UserController as user">
	    <a href="/Proyecto_1/login-sistem.html" id="cerrarSesion" class="pull-right clearfix">Cerrar Sesión</a>
	  	<a href="/Proyecto_1/user-profile.html" class="pull-right clearfix">{{cookieValue}}</a>
</div>
<!-- cerrar Sesión Sergio Herrera-->
<div class="header">
	<nav class="header navbar navbar-default" role="navigation">
	  <img class="logo" src="/Proyecto_1/img/logo_cenfo.png">
	  <div class="container-fluid">

	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#" style="background-color: inherit;">Blogs</a></li>
	        <li><a href="#" style="background-color: inherit;">Foros</a></li>
	        <li><a href="#" style="background-color: inherit;">Link</a></li>
	        <li><a href="documentos.html" style="background-color: inherit;">Documento</a></li>
	      </ul>
	      <form class="navbar-form navbar-left pull-right" role="search">
	        <div class="nav navbar-nav navbar-right form-group">
			  <input type="text" class="form-control" placeholder="Search">
			</div>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>