<!--  <div class="crearUsuario cf" ng-show="panel.isSelected(3)">  -->
<!-- <div ng-show="mostrarInhabilitarUsuario"> -->
<div ng-show="userContr.isSelected(3, confPanel.tab)"  >
 <div class="crearUsuario cf" ng-controller="inhabilitarUserController as inhabilitarUser"> 

                      <form role="form" name="inhabilitarUsuarioForm"  ng-submit="inhabilitarUser.buscaUser(conf.usuarios, correo)" >
                           <div class="buscarUserContent">
                              <label>Ingrese el correo del usuario</label>
                              <input type="text" class="buscarUserInput" placeholder="usuario@ucenfotec.ac.cr" ng-model="correo" required>
                              <button type="submit" class="buscarBtn" value="submit">Buscar</button>
                          </div>
                      </form>

                      <form role="form" name="inhabilitarUsuarioForm2"  ng-submit="inhabilitarUsuarioForm2.$valid" > 
                          <div class="buscarUserContent result-usuario cf" style="display:none">
                              <div class="vistaUsuarios">
                                  <table cellpading="0" cellspacing="0" border="0" align="center"><tr>
                                    <input id="id-usuario-in" hidden>
                                    <td width="300" height="50"><p id="nombreUser"></p></td>
                                    <td width="300" height="50"><p id="correoUser"></p></td>
                                    <td width="300" height="50"><label>Inactivo</label>
                                        <input type="radio" name="estado" val="2" id="inactivo" value="inactivo"  ng-model="inhabilitarUser.user.estado" required></td>
                                    <td width="300" height="50"><label>Activo</label>
                                        <input type="radio" name="estado" val="1" id="activo" value="activo" ng-model="inhabilitarUser.user.estado" required> </td>
                                  </tr></table>
                                                               
                              </div>


                               <button type="submit" ng-click="inhabilitarUser.inaUser()" class="guardarBtn pull-right">Guardar</button>
                          </div>
                        </form>
                          <!-- <div>
                            <p>Busqueda Avanzada</p>
                            <div class="contenedorInputsSep">
                                <label>Carrera</label><br>
                                <select class="inhabilitarSlct form-control">
                                   <option>Option1</option>
                                  <option>Option2</option>
                                </select>
                            </div>

                            <div class="contenedorInputsSep">
                                <label>Curso</label><br>
                                <select class="inhabilitarSlct form-control">
                                   <option>Option1</option>
                                  <option>Option2</option>
                                </select>
                            </div>

                            <div class="vistaUsuarios">
                                <p>Nombre de Usuario</p>
                                <p>Usuario@ucenfotec.com</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                              <div class="vistaUsuarios">
                                <p>Nombre de Usuario</p>
                                <p>Usuario@ucenfotec.com</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                              <div class="vistaUsuarios">
                                <p>Nombre de Usuario</p>
                                <p>Usuario@ucenfotec.com</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                              <button type="submit" class="guardarBtn pull-right">Guardar</button>

                          </div> -->

                    </div>

</div>