<!--  <div class="crearUsuario cf" ng-show="panel.isSelected(3)">  -->
<div ng-show="mostrarInhabilitarUsuario">
 <div class="crearUsuario cf"> 

                           <div class="buscarUserContent">
                              <label>Usuario</label>
                              <input type="text" class="buscarUserInput" placeholder="usuario@ucenfotec.ac.cr">
                              <button type="submit" class="buscarBtn">Buscar</button>
                          </div>

                          <div class="buscarUserContent cf" >
                              <div class="vistaUsuarios">
                                <p>Nombre de Usuario</p>
                                <p>Usuario@ucenfotec.com</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                               <div class="vistaUsuarios">
                                <p>Nombre de Usuario</p>
                                <p>Usuario@ucenfotec.com</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                               <button type="submit" class="guardarBtn pull-right">Guardar</button>
                          </div>

                          <div>
                            <p>Busqueda Avanzada</p>
                            <div class="contenedorInputsSep">
                                <label>Carrera</label><br>
                                <select class="inhabilitarSlct">
                                   <option>Option1</option>
                                  <option>Option2</option>
                                </select>
                            </div>

                            <div class="contenedorInputsSep">
                                <label>Curso</label><br>
                                <select class="inhabilitarSlct">
                                   <option>Option1</option>
                                  <option>Option2</option>
                                </select>
                            </div>

                            <div class="vistaUsuarios">
                                <p>Nombre de Usuario</p>
                                <p>Usuario@ucenfotec.com</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                              <div class="vistaUsuarios">
                                <p>Nombre de Usuario</p>
                                <p>Usuario@ucenfotec.com</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                              <div class="vistaUsuarios">
                                <p>Nombre de Usuario</p>
                                <p>Usuario@ucenfotec.com</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                              <button type="submit" class="guardarBtn pull-right">Guardar</button>

                          </div>

                    </div>

</div>