  <div ng-show="cursoContr.isSelected(3, confPanel.tab)" >                   
                    <div class="crearUsuario cf"> 

                           <div class="buscarUserContent">
                              <label>Código Curso</label>
                              <input type="text" class="buscarUserInput">
                              <button type="submit" class="buscarBtn">Buscar</button>
                          </div>

                          <div class="buscarUserContent cf" >
                              <div class="vistaUsuarios">
                                <p>Nombre de la carrera</p>
                                <p>Nombre del curso</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                        

                               <button type="submit" class="guardarBtn pull-right">Guardar</button>
                          </div>

                          <div>
                            <div class="contenedorInputs">
                              <label>Seleccione una Carrera</label>
                              <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                          </div>
                            
                            <div class="vistaUsuarios">
                                <p>Nombre de Curso</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                               <div class="vistaUsuarios">
                                <p>Nombre de Curso</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                               <div class="vistaUsuarios">
                                <p>Nombre de Curso</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>

                               <div class="vistaUsuarios">
                                <p>Nombre de Curso</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado"> 
                              </div>


                              <button type="submit" class="guardarBtn pull-right">Guardar</button>

                          </div>

                    </div>
  </div>
