
<div ng-show="carreraContr.isSelected(3, confPanel.tab)" >
 <h4>Lista de Carreras</h4>
                          <div class="vistaUsuarios">
                                <p>Nombre de Carrera</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado" checked> 
                              </div>
                              <div class="vistaUsuarios">
                                <p>Nombre de Carrera</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado" checked> 
                              </div>
                              <div class="vistaUsuarios">
                                <p>Nombre de Carrera</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado" checked> 
                              </div>
                              <div class="vistaUsuarios">
                                <p>Nombre de Carrera</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado" checked> 
                              </div>
                              <div class="vistaUsuarios">
                                <p>Nombre de Carrera</p>
                                <label>Inactivo</label>
                               <input type="radio" name="estado">
                               <label>Activo</label>
                               <input type="radio" name="estado" checked> 
                              </div>

                              <button type="submit" class="guardarBtn ">Guardar</button>
</div>