
    	<section class="container" ng-controller="UserController as usuario">
    		
    		<div class="header headerlog logo">
    			<img src="img/logo_cenfo.png"/>
    		</div>

    		<div class="contloging">
    			<section class="headcontlog header">
    				
    				<h3>Ingresar al Sistema_</h2>
    			</section>
    			<form class="formlogin" name="loginUser" role="form" ng-controller="validarLogin as login" ng-submit="loginUser.$valid && login.testUser(username,userpass,usuario.user)">
    				<strong id="mensajeLogin" class="msjerror"></strong>
    				<label for="usuario">Usuario</label>
    				<input type="email"  id="usuario" placeholder="usuario@ucenfotec.ac.cr" ng-model="username" required/>
    				<label for="pass">Contraseña</label>
    				<input type="password" id="pass" ng-model="userpass" required/>
    				
    				<button type="submit" class="botlogin" value="submit">Ingresar</button>
    				
    				<a href ng-click="navLogin.getTab(2)">Recuperar Contraseña</a>
    				
    			</form>
				
    		</div>
    		
    	</section>