
    	<section class="container">
    		
    		<div class="header headerlog logo">
    			<img src="img/logo_cenfo.png"/>
    		</div>

    		<div class="contloging">
    			<section class="headcontlog header">
    				<h3>Ingresar al Sistema</h2>
    			</section>
    			
    			<form class="formlogin">
    				<label name="usuario">Usuario</label>
    				<input type="text" id="usuario" placeholder="usuario@cenfotec.ca.cr"/>
    				<label name="pass">Pass</label>
    				<input type="password" id="pass"/>
    				
    				<button class="botlogin">Ingresar</button>
    				
    				<a href="#">Recuperar Contraseña</a>
    				
    			</form>

    		</div>
    		
    	</section>