
    	<section class="container">
    		
    		<div class="header headerlog logo">
    			<img src="img/logo_cenfo.png"/>
    		</div>

    		<div class="contloging">
    			<section class="headcontlog header">
    				<h3>Ingresar al Sistema_</h2>
    			</section>
    			
    			<form class="formlogin">
    				<label for="usuario">Usuario</label>
    				<input type="text"  id="usuario" placeholder="usuario@cenfotec.ca.cr"/>
    				<label for="pass">Contraseña</label>
    				<input type="password" id="pass"/>
    				<button type="submit" class="botlogin">Ingresar</button>
    				
    				<a href="#">Recuperar Contraseña</a>
    				
    			</form>

    		</div>
    		
    	</section>