  <div ng-show="cursoContr.isSelected(2, confPanel.tab)" >         
           <div class="contenedorInputs">
                                  <label>Seleccione una Carrera</label>
                                  <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                              </div>

                              <div class="contenedorInputs">
                                  <label>Seleccione un Curso</label>
                                  <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                              </div>


                        <div class="contenedorInputs">
                                <label>Codigo del Curso</label>
                                <input type="text" class="form-control">
                        </div>
                        <div class="contenedorInputs">
                                <label>Nombre del Curso</label>
                                <input type="text" class="form-control">
                        </div>

            <button type="submit" class="guardarBtn ">Guardar</button> 
</div>