 <!-- <div class="crearUsuario cf" ng-show="panel.isSelected(2)">  -->
<!-- <div ng-show="mostrarModificarUsuario"> -->
<div ng-show="userContr.isSelected(2, confPanel.tab)"  >
<div class="crearUsuario cf">

                           <div class="buscarUserContent">
                              <label>Usuario</label>
                              <input type="text" class="buscarUserInput" placeholder="usuario@ucenfotec.ac.cr">
                              <button type="submit" class="buscarBtn">Buscar</button>
                          </div>

                          <div class="contenedorInputs">
                              <label>Nombre del Usuario</label>
                              <input type="text" class="form-control">
                          </div>

                           <div class="contenedorInputs contenedorInputsSep">
                            <label>Genero</label><br>
                           
                           <label>Hombre</label>
                           <input type="radio" name="genero">
                           <label>Mujer</label>
                           <input type="radio" name="genero"> 
                       </div>
                           <div class="contenedorInputs contenedorInputsSep">
                               <label>Correo del Usuario</label>
                              <input type="email" class="form-control"> 
                          </div>
                         <div class="contenedorInputs">
                              <label>Contraseña</label>
                              <input type="password" class="form-control">
                          </div>

                        <div class="contenedorInputs labels">
                           <label>Categoria</label>
                               
                               <label>Director</label>
                               <input type="radio" name="tipoUsuario">
                               <label>Rector</label>
                               <input type="radio" name="tipoUsuario"> 
                               <label>Profesor</label>
                               <input type="radio" name="tipoUsuario">
                               <label>Estudiante</label>
                               <input type="radio" name="tipoUsuario">  
                        </div>

                        <button type="submit" class="guardarBtn pull-right">Guardar</button>


                    </div>
 </div>