 <!-- <div class="crearUsuario cf" ng-show="panel.isSelected(2)">  -->
<!-- <div ng-show="mostrarModificarUsuario"> -->
<div ng-show="userContr.isSelected(2, confPanel.tab)"  >
<div class="crearUsuario cf" ng-controller="modificarUserController as modificarUser">

                           
<form role="form" name="modificarUsuarioForm"  ng-submit="modificarUser.modifUser(conf.usuarios, correo)" >
         <div class="buscarUserContent">
            <label>Correo del Usuario</label>
            <input type="text" class="buscarUserInput" placeholder="usuario@ucenfotec.ac.cr" ng-model="correo" required>
            <button type="submit" class="buscarBtn" value="submit">Buscar</button>
        </div>
</form>


<!--  <form role="form" name="modificarUsuarioForm2"  ng-submit="modificarUsuarioForm2.$valid && modificarUser.saveModif(conf.usuarios)" novalidate> -->
<form role="form" name="pruebaForm"  ng-submit="pruebaForm.$valid && modificarUser.saveModif(conf.usuarios)">
        <div class="contenedorInputs">
            <label>Nombre del Usuario</label>
            <input id="id-usuario-mod" hidden>
            <input type="text" class="form-control" id="nombreEncontrado" ng-model="modificarUser.user.nombre">
            <label>Apellido del Usuario</label>
            <input type="text" class="form-control" id="apellidoEncontrado" ng-model="modificarUser.user.apellido">
        </div>

         <div class="contenedorInputs contenedorInputsSep">
         <label>Género</label><br>
         
         <label>Hombre</label>
         <input type="radio" class="genero" name="generocreausuario" val"m" id="generoHombre" ng-model="modificarUser.user.genero">
         <label>Mujer</label>
         <input type="radio" class="genero" name="generocreausuario" val="f" id="generoMujer" ng-model="modificarUser.user.genero"> 
         </div>
         <div class="contenedorInputs contenedorInputsSep">
             <label>Correo del Usuario</label>
            <input type="email" class="form-control" id="correoEncontrado" ng-model="modificarUser.user.correo" > 
        </div>
       <div class="contenedorInputs">
            <label>Contraseña</label>
            <input type="password" class="form-control" id="passwordEncontrado" ng-model="modificarUser.user.password">
        </div>

      <div class="contenedorInputs labels">
          <label>Categoría</label><br>
             
             <label>Director</label>
             <input type="radio" name="tipoUsuario" val="d" id="director" ng-model="modificarUser.user.categoria" >
             <label>Rector</label>
             <input type="radio" name="tipoUsuario" val="r" id="rector" ng-model="modificarUser.user.categoria" > 
             <label>Profesor</label>
             <input type="radio" name="tipoUsuario" val="p" id="profesor" ng-model="modificarUser.user.categoria" >
             <label>Estudiante</label>
             <input type="radio" name="tipoUsuario" val="e" id="estudiante" ng-model="modificarUser.user.categoria" >  
      </div>

      <button type="submit" class="guardarBtn pull-right" value="submit">Guardar</button>
</form>

                    </div>
 </div>