<div ng-show="cursoContr.isSelected(2, confPanel.tab)" >  
   <div class="contenedorInputs" ng-controller="CarrerasController as universidad">
      <select class="form-control select-carrera" ng-change="conf.modifCarrera()" ng-model="cong.miCarrera">
        <option val="-1" disable>Seleccione una Carrera</option>
        <option ng-repeat="carrera in universidad.carreras" value="{{carrera.id_carrera}}" >{{carrera.nombre}}</option>
    </select>
    </div>

    <div class="contenedorInputs">
         <select id="modiCurso1" class="form-control" ng-model="conf.miCursoMC" ng-options="curso.nombreCurso for curso in conf.getCurso()"
         ng-change="conf.modifCurso()">
         <option value="" >Seleccione un Curso</option>  

          </select>
    </div>


<div class="contenedorInputs">
      <label>Código del Curso</label>
      <input type="text" class="form-control" ng-model="conf.miCursoMC.idCurso" id="modifIdCurso">
</div>
<div class="contenedorInputs">
      <label>Nombre del Curso</label>
      <input type="text" class="form-control" ng-model="conf.miCursoMC.nombreCurso" id="modifNombreCurso">
</div>
<div class="contenedorInputs">
    <label>Estado: </label>
    <label>Inactivo</label>
    <input type="radio" name="estado-carrera" val="2" id="inactivo-carrera" value="" required="">
      <label>Activo</label>
      <input type="radio" name="estado-carrera" val="1" id="activo-carrera" value="" required="">
  </div>

            <button type="submit" class="guardarBtn pull-right" ng-click="conf.actualizarCurso()">Guardar</button> 
</div>