<div ng-show="carreraContr.isSelected(2, confPanel.tab)" >

                        <div class="contenedorInputs">
                              <label>Seleccione una Carrera</label>

                              <select id="cursoslt" class="form-control" ng-model="conf.miCarrera" ng-options="carrera.nombre for carrera in conf.carreras"
                              ng-change="conf.modifCarrera()">
                              <option value="" >Seleccione un Carrera</option>  

                                    </select>
                              
                          </div>

                        <div class="contenedorInputs">
                                <label>Código de Carrera</label>
                                <input type="text" class="form-control" id="codCarrera" ng-model="conf.miCarrera.codigo" required>
                        </div>
                        <div class="contenedorInputs">
                                <label>Nombre de la Carrera</label>
                                <input type="text" class="form-control" id="nomCarrera" ng-model="conf.miCarrera.nombre" required>
                        </div>

            <button type="submit" class="guardarBtn " ng-click="conf.actualizarCarrera()">Guardar</button>
</div>