<div ng-show="carreraContr.isSelected(2, confPanel.tab)" >

                        <div class="contenedorInputs">
                              <label>Seleccione una Carrera</label>

                              <select class="form-control" ng-model="carrera">
                                <option  value ="{{conf.carreras.nombre}}" ng-repeat='nombre in conf.carreras'>{{conf.carreras.nombre}}</option>
                                
                              </select>
                              
                          </div>

                        <div class="contenedorInputs">
                                <label>Codigo de Carrera</label>
                                <input type="text" class="form-control">
                        </div>
                        <div class="contenedorInputs">
                                <label>Nombre de la Carrera</label>
                                <input type="text" class="form-control">
                        </div>

            <button type="submit" class="guardarBtn ">Guardar</button>
</div>