<div ng-show="confPanel.isSelected(3)" >

<p>En esta sección usted podrá procesar las denuncias realizadas por los usuarios</p>
            <h4>Comentarios Denunciados</h4>
            <div class="denuncia">
              <p>Nombre Usuario / usuario@ucenfotec.com</p>
              <p>10/06/2014</p>
              <textarea rows="4" cols="50" style="display:block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</textarea>
              <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Ignorar</a>
              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
            </div>

            <div class="denuncia">
              <p>Nombre Usuario / usuario@ucenfotec.com</p>
              <p>10/06/2014</p>
              <textarea rows="4" cols="50" style="display:block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</textarea>
              <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Ignorar</a>
              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
            </div>

</div>