<div ng-show="confPanel.isSelected(3)" >

<p>En esta sección usted podrá procesar las denuncias realizadas por los usuarios</p>
            <h4>Comentarios Denunciados</h4>
            <div class="denuncia">
              <p>manuel@ucenfotec.com</p>
              <p>10/06/2014</p>
              <textarea class="form-control" rows="4" cols="50" style="display:block; width:70%; margin-bottom:5px;">Node es un intérprete Javascript del lado del servidor que cambia la noción de cómo debería trabajar un servidor.</textarea>
              <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Ignorar</a>
              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
            </div>

            <div class="denuncia">
              <p>carolina@ucenfotec.com</p>
              <p>10/06/2014</p>
              <textarea class="form-control" rows="4" cols="50" style="display:block; width:70%; margin-bottom:5px;">Este artículo tratará de responder a los que es Node.js, presentando un breve contexto de los problemas que resuelve, cómo funciona, cómo ejecutar una aplicación simple y, finalmente, dónde Node es una buena solución.</textarea>
              <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Ignorar</a>
              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
            </div>

</div>