
<section class="titleprofile">
	<h1>Perfil de Usuario_</h1>
	<p>En esta sección usted podrá configurar su perfil seleccionando las opciones brindadas.</p>
</section>

<section class="contprofile" ng-controller="controlPerfil as perfil"">
	<div class="contBtn">
		<button type="button" class="btn profBtn" ng-click="perfil.getTab(1)">Info Usuario</button>
    	<button type="button" class="btn profBtn" ng-click="perfil.getTab(2)">Contraseña</button>	
	</div>
	<div class="contUser" ng-show="perfil.isSelected(1)">
		<section class="infoprofile clearfix">
			<figure class="imgsprofile clearfix">
				<img src="/Proyecto_1/img/avatar.png"/>
				<img src="/Proyecto_1/img/sample-stars.png"/>
				<figcaption>
					Puesto en el Ranking: 25
				</figcaption>
			</figure>
		    <aside class="infousuario clearfix">
				<label>Nombre:</label>
				<span>Mi nombre de Usuario Completo</span>
				<label>Carrera:</label>
				<span>Nombre de la Carrera</span>
				<label>Cursos:</label>
				<ul>
					<li>Nombre del Curso 1</li>
					<li>Nombre del Curso 2</li>
					<li>Nombre del Curso 3</li>
				</ul>
			</aside>
		</section>
		
		
			
	</div>
	
	<div class="contPass clearfix" ng-show="perfil.isSelected(2)">	
		<form class="passprofile">
			<label for="passuser" class="passform">Digite su contraseña:</label>
			<input id="passuser" type="password" class="passform"/>
			<label for="newpass" class="passform">Digite su nueva contraseña:</label>
			<input id="newpass" type="password" class="passform"/>
			<label for="confirmnew" class="passform">Confirme su nueva contraseña:</label>
			<input id="confirmnew" type="password" class="passform"/>
			<button type="submit" class="formpassbot">Guardar Cambios</button>
		</form>
		
	</div>
	
	
</section>