
<section class="titleprofile">
	<h3 class="main-header">Perfil de Usuario_</h3>
	<p class="main-text">En esta sección usted podrá configurar su perfil seleccionando las opciones brindadas.</p>
</section>

<section class="contprofile" ng-controller="controlPerfil as perfil">
	<div class="contBtn">
		<button id="infuser" type="button" class="btn activetab" ng-click="perfil.getTab(1)">Info Usuario</button>
    	<button id="changepass" type="button" class="btn profBtn" ng-click="perfil.getTab(2)">Contraseña</button>	
	</div>
	<div class="contUser" ng-show="perfil.isSelected(1)">
		<section class="infoprofile clearfix">
			<figure class="imgsprofile clearfix">
				<img src="/Proyecto_1/img/avatar.png"/>
				<img src="/Proyecto_1/img/sample-stars.png"/>
				<figcaption>
					Candidad de Votos: 125
				</figcaption>
			</figure>
		    <aside class="infousuario clearfix">
				<label>Nombre:</label>
				<span>{{usuario.user[cookieValue].nombre}}</span>
	
				<label>{{usuario.user[cookieValue].carrera}}</label>
				<ul>
					<li>
						{{usuario.user[cookieValue].Curso1}}
					</li>
					<li>
						{{usuario.user[cookieValue].Curso2}}
					</li>

				</ul>
			</aside>
		</section>
		
		
			
	</div>
	
	<div class="contPass clearfix" ng-show="perfil.isSelected(2)">	
		<strong id="mensajePerfil" class="msjerror"></strong>
		<form role="form" class="passprofile" name="changpass" ng-submit="changpass.$valid && (usuario.user[cookieValue].pass=perfil.cambiarPass(usuario.user[cookieValue].pass))">
			
			<label for="passuser" class="passform">Digite su contraseña:</label>
			<input id="passuser" type="password" class="passform form-control" ng-model="perfil.pass.pactual" required/>
			<label for="newpass" class="passform">Digite su nueva contraseña:</label>
			<input id="newpass" type="password" class="passform form-control" ng-model="perfil.pass.pnew" required/>
			<label for="confirmnew" class="passform">Confirme su nueva contraseña:</label>
			<input id="confirmnew" type="password" class="passform form-control" ng-model="perfil.pass.pnewconf" required/>
			<button type="submit" class="formpassbot" value="submit">Guardar Cambios</button>
		</form>
	</div>
	
	
</section>