
    	<section class="container">
    		
    		<div class="header headerlog logo">
    			<img src="img/logo_cenfo.png"/>
    		</div>

    		<div class="contloging">
    			<section class="headcontlog header">
    				<h3 id="titlerecover">Recuperar Contraseña_</h2>
    			</section>
    			
    			<form class="formlogin">
    				<p class="msjerror">Se envió la nueva contraseña a su correo.</p>
    				<label for="usuario">Usuario</label>
    				<input type="text"  id="usuario" placeholder="usuario@cenfotec.ca.cr"/>
    				<button type="submit" class="botlogin" >Recuperar</button>
    				
    				<a href="#" id="recoverylink">Regresar</a>
    				
    			</form>

    		</div>
    		
    	</section>