<div ng-show="foroContr.isSelected(1, confPanel.tab)" >


		<div class="usuarioMenu" ng-controller="respuestaForos as respuesta">

		                  <p>En esta sección usted define si se muestran los nombres de los usuarios en las respuestas de los foros o permanecen ocultos</p>
		                  <div class="vistaUsuarios">
		                        <p>Ver nombre de usuarios en foros</p>
		                        <label>Permitir</label>
		                        <input type="radio" name="estado" value="permitir" id="permitirResp" checked>
		                        <label>No permitir</label>
		                        <input type="radio" name="estado" value="denegar" id="denegarResp"> 
		                        <button type="submit" class="guardarBtn " ng-click="respuesta.cambiarRespuesta()">Guardar</button>
		</div>

</div>