<div class="side-nav" ng-controller="routeController as route">
  <section ng-controller="UserController as usuario">

	<img class="usr-avatar" src="/Proyecto_1/img/avatar.png">

    <span>Cantidad de votos recibidos:{{usuario.user[cookieValue].calificacion}}</span> 
 
	<h3>Menú de Usuario</h3>
	<ul>
		<li id="blogsUser1"><a href="/Proyecto_1/user-blog1.html" ng-click="tabs.getTab('b1')">Blogs</a></li>
		<li class="forumOpt"><a href="#" class="headForum">Foros</a></li>
		<li class="descargasOpt"><a href="documentos.html">Descargas</a></li>
		<li class="perfilOpt" id="profile"><a href="/Proyecto_1/user-profile.html">Mi Perfil</a></li>
		<li class="configuracionOpt" style="display:none"><a href="">Conf. Sistema</a></li>
	</ul>
	</div>
 
 </section>	
 
</div>

