<div ng-show="foroContr.isSelected(2, confPanel.tab)" >
<div class="usuarioMenu">

                                <p>En esta seccion usted configura los intervalos de votacion, debera de asignar el valor de cada estrella, asi como la cantidad de votos que debera de tener cada usuario para ganar una estrella</p>

                                <div class="vistaUsuarios">
                                      <p>Valor de puntos de cada estrella</p>
          
    
                                     <div style="margin-bottom:55px">
                                      <input type="number">
                                        <input type="number">
                                        <input type="number">
                                        <input type="number">
                                        <input type="number">
                                        <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 data-size="xs" >
                                      </div>
                                    <p>Asignar cantidad de puntos por nivel</p>
                                    <div class="cf"style="display:inline">
                                      <label>Nivel 1</label><input type="number">
                                      <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 data-size="xs" >
                                    </div>
                                    <div class="cf"style="display:inline">
                                      <label>Nivel 2</label><input type="number">
                                      <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 data-size="xs" >
                                    </div>
                                    <div class="cf"style="display:inline">
                                      <label>Nivel 3</label><input type="number">
                                      <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 data-size="xs" >
                                    </div>
                                    <div class="cf"style="display:inline">
                                      <label>Nivel 4</label><input type="number">
                                      <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 data-size="xs" >
                                    </div>
                                    <div class="cf"style="display:inline">
                                      <label>Nivel 5</label><input type="number">
                                      <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 data-size="xs" >
                                    </div>
                                    <button type="submit" class="guardarBtn ">Guardar</button>
              
                                       
                              </div>  
  </div>  

                               <script>
    jQuery(document).ready(function () {
        $(".rating-kv").rating();
    });
</script>