 <!--Subir Documentos-->
 <div ng-controller='subirDocController as subirDoc'>
            <div class='doc_header'>
              <h1>Documentos_</h1>
              <p>En esta sección usted podrá subir documentos al sistema</p>
            </div>
            
            <button class='btn-subir-down btn-blue' ng-click='subirDoc.showBtn();'>Subir Documento</button>

            <div id='doc_subirdoc' class='cf' ng-show='subirDoc.value===2'>
              <div class="form-group div_docsubir">
                  <input type='text' placeholder='Titulo'>
                  <input type='text' placeholder='Autor'>
                  <input type='text' placeholder='Fecha'>
                  <span>Seleccione una Carrera</span>
                  <select>
                    <option>IT English</option>
                    <option>Integracion de Tecnologias</option>
                    <option>Telematica</option>
                    <option>Desarrollo y Diseño Web</option>
                    <option>Desarrollo de Software</option>
                  </select>
                  <span>Seleccione un Curso</span>
                  <select>
                    <option>Curso1</option>
                    <option>Curso2</option>
                    <option>Curso3</option>
                    <option>Curso4</option>
                    <option>Curso5</option>
                  </select>
                    <input type="file" id="exampleInputFile">
                    <buttom class='btn-subir'>Subir Documento</button>
                  </div>
              </div>
 </div>
      <!--Subir Documentos-->