

      <div>
         <div id='divEditarPost' class='cf clearfix'>
            
            <div class='titulo-fecha clearfix'>
              <span class="pull-left">{{usuario.user[cookieValue].blog[tabs.miBlog()].titulo}}</span>
              <span class="pull-left">{{usuario.user[cookieValue].blog[tabs.miBlog()].fecha}}</span>
            <div class='clearfix'>
              <a ng-controller="deletePostUser as deletePosts" href="" class="pull-right editdelete" ng-click="deletePosts.deletePost(usuario.user[cookieValue].blog[tabs.miBlog()].idPost,usuario.user[cookieValue])">Eliminar<span class="glyphicon glyphicon-remove"></span></a>
              <a  href="" ng-style="tabs.guardar"  ng-click="tabs.savePost(usuario.user,cookieValue,tabs.miBlog())" class="pull-right editdelete">Guardar<span class="glyphicon glyphicon-floppy-saved"></span></a> 
              <a href="" ng-style="tabs.editar" ng-click='tabs.editarPost();' class="pull-right editdelete">Editar<span class='glyphicon glyphicon-pencil'></span></a>
              <a href ng-click="tabs.regresar(1)" class="editdelete pull-right">Regresar<span class='glyphicon glyphicon-arrow-left'></a>
             
            </div>
            </div>
            

            <div class='post-editado'>
              <textarea id="newPost" ng-disabled='tabs.value==false'></textarea>
            </div>
            <div class="redesSociales cf" ng-controller="socialShare as share">
              <span class="compartirPost">Compartir:</span>
              <ul class="lista">
                  <li><a ng-click="share.shareTwitter()" class="ir sprites" id="Twitter">Twitter</a></li>
                  <li><a ng-click="share.shareFacebook()" class="ir sprites" id="Facebook" >Facebook</a></li>
                  <li><a ng-click="share.shareG()" class="ir sprites" id="GooglePlus">Google Plus</a></li>
              </ul>
          </div> 
          
          
              <h3  class='comentarios'>Comentarios</h3>
          <ul class="list-group clearfix">
    	 	<li class="list-group-item clearfix" ng-repeat="comentarios in usuario.user[cookieValue].blog[tabs.miBlog()].comentarios | orderBy:'-fecha'">
              <section class="misBlogs1">
                <section class="headerMiblogs clearfix">
                  <a href="#" class="pull-left linktituloBlog1">{{comentarios.Participante}}</a>
                  <span class="fechasComent pull-left ">{{comentarios.fecha}}</span>
                </section>
                <section class="contMiBlog1 clearfix">
                  <p class="textmiblog">
                    {{comentarios.texto}}
                  </p>
                </section>
                <a href class="pull-right editdelete clearfix" ng-click="tabs.denunciar()">Denunciar</a>
              </section>
           </li>
          </ul> 
        </div>
      </div>
      
  </div> 

    
