<section class="titleprofile">
	<h1>Blogs_</h1>
	<p>En esta sección usted podrá buscar blog de interés y comentar los mismos.</p>
</section>

<section class="contprofile">
	<div class="contBtn">
		<button href="#srchBlog" id="blog1Btnid" type="button" data-toggle="collapse" class="btn blog1Btn btn-blue">Buscar Blog</button>
	</div>
	<div id="srchBlog" class="contBlog1 panel-collapse collapse" >
	 		
	 	<form class="formAddBlog clearfix">	

			<input type="search" class="form-control blogsearch" placeholder="Search" />
			<span class="linea"></span>
                           
            <h4>Búsqueda Avanzada</h4>
            <select class="slctSearchblog">
              <option value="" disable>Seleccione una Carrera</option>
              <option value="" disable>Carrera 1</option>
              <option value="" disable>Carrera 2</option>
              <option value="" disable>Carrera 3</option>
            </select>
            <select class="slctSearchblog">
              <option value="" disable>Seleccione un Curso</option>
              <option value="" disable>Curso 1</option>
              <option value="" disable>Curso 2</option>
              <option value="" disable>Curso 3</option>
            </select>
            <select class="slctSearchblog">
              <option value="" disable>Seleccione un Usuario</option>
              <option value="" disable>Usuario 1</option>
              <option value="" disable>Usuario 2</option>
              <option value="" disable>Usuario3</option>
            </select>
	 		<button type="submit" class="btnaddBlog pull-right">Buscar</button>

 		</form>
	</div>
	
	
	<h2>Resultados:</h2>
	
    <section class="misBlogs1">
    	<h3>Nombre del Dueño:</h3>
    	<section class="headerMiblogs clearfix">
    		<a href="#" class="pull-left linktituloBlog1">Titulo de mi blog</a>
    		<span class="fechablog pull-left ">dd/mm/aaaa</span>
    	</section>
    	<section class="contMiBlog1 ">
    		<p class="textmiblog">
    			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum...
    		</p>
    	</section>
    	
    </section>
    

    	
    </section>

	
</section>

