
<section class="contblog">
    <a href ng-click="tabs.regresar(3)" class="editdelete pull-right">Regresar<span class='glyphicon glyphicon-arrow-left'></a>
	<h3>{{tabs.nombre}} {{tabs.apellido}}</h3>

		
    <section class="misBlogs4">
    	<section class="headerMiblogs clearfix">
    		<a href="#" class="pull-left linktituloBlog1">{{tabs.titulo}}</a>
    		<span class="fechablog pull-left ">{{tabs.fecha}}</span>
    	</section>
    	<p class="miblog4">
               {{tabs.texto}}
    	</p>
    	<a href="#contcomentblog" class="linkcometarblog pull-right clearfix" data-toggle="collapse">Comentar</a>
    	
    	<form ng-controller="addComent as addC" role="form" id="contcomentblog" class="panel-collapse collapse clearfix pull-left" name="addComent" ng-submit="addComent.$valid && addC.addComt(tabs.idPost,usuario.user[cookieValue].id_usuario,tabs.listaComentarioPost)">
    		<label>{{usuario.user[cookieValue].nombre}} {{usuario.user[cookieValue].apellido}}</label>
    		<input type="text" ng-model="addC.strDate" placeholder="{{addC.strDate}}" required disabled/>
    		<textarea id="comentblog" class="textcomentblog" ng-model="addC.texto"></textarea>
    		<button type="submit" class="btnaddBlog pull-right" value="submit">Publicar</button>
    	</form>
    </section>
    
    <section class="comentBlogs">
    	<h3>Comentarios:</h3>
    	 <ul class="list-group clearfix">
    	 	<li class="list-group-item clearfix" ng-repeat="comentarios in tabs.listaComentarioPost| filter:{estado:1} | orderBy:'-fecha'">
              <section class="misBlogs1">
                <section class="headerMiblogs clearfix">
                  <a href="#" class="pull-left linktituloBlog1">{{comentarios.nombre}} {{comentarios.apellido}}</a>
                  <span class="fechasComent pull-left ">{{comentarios.fecha}}</span>
                </section>
                <section class="contMiBlog1 clearfix">
                  <p class="textmiblog">
                    {{comentarios.texto}}
                  </p>
                </section>
                <a href class="pull-right editdelete clearfix" ng-click="tabs.denunciar(comentarios.id_comentario_post,tabs.listaComentarioPost,comentarios.id_post)">Denunciar</a>
              </section>
           </li>
          </ul> 
    </section>
    
    
    

    	
</section>

	
</section>

