
<section class="contblog">
    <a href ng-click="tabs.getTabIn(3)">Regresar</a>
	<h3>Nombre del Dueño:</h3>
    <section class="misBlogs4">
    	<section class="headerMiblogs clearfix">
    		<a href="#" class="pull-left linktituloBlog1">Titulo de mi blog</a>
    		<span class="fechablog pull-left ">dd/mm/aaaa</span>
    	</section>
    	<p class="miblog4">
    			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum.
       			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum.
       			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum.
	   	</p>
    	<a href="#contcomentblog" class="linkcometarblog pull-right clearfix" data-toggle="collapse">Comentar</a>
    	
    	<form id="contcomentblog" class="panel-collapse collapse clearfix pull-left">
    		<label for="comentblog">Nombre del Participante</label>
    		<textarea id="comentblog" class="textcomentblog" ></textarea>
    		<button type="submit" class="btnaddBlog pull-right">Publicar</button>
    	</form>
    </section>
    
    <section class="comentBlogs">
    	<h3>Comentarios:</h3>
    	<section class="headerMiblogs clearfix">
    		<a href="" class="pull-left linktituloBlog1">Nombre Participante</a>
    		<span class="fechablog pull-left ">dd/mm/aaaa</span>
    	</section>
    	<p class="comentmiblog4">
    			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum.
       	</p>
    	<a href="" class="denunciarblogcomt pull-right clearfix">Denunciar</a>
    </section>
    
    
    

    	
</section>

	
</section>

