

<section class="contprofile">
	
	
	<h2>Resultados:</h2>
	
    <section class="misBlogs1">
    	<h3>Nombre del Dueño:</h3>
    	<section class="headerMiblogs clearfix">
    		<a href class="pull-left linktituloBlog1" ng-click="tabs.getTabIn(4)">Titulo de mi blog</a>
    		<span class="fechablog pull-left">dd/mm/aaaa</span>
    	</section>
    	<section class="contMiBlog1 ">
    		<p class="textmiblog">
    			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum...
    		</p>
    	</section>
    	
    </section>
    

    	
    </section>

	
</section>

