<section class="titleprofile">
	<h1>Perfil de Usuario_</h1>
	<p>En esta sección usted podrá configurar su perfil seleccionando las opciones brindadas.</p>
</section>

<section class="contprofile">
	<div class="contBtn">
		<button href="#addBlog" id="blog1Btnid" type="button" data-toggle="collapse" class="btn blog1Btn btn-blue">Crear Blog</button>
	</div>
	<div id="addBlog" class="contBlog1 panel-collapse collapse" >
	 		
	 	<form class="formAddBlog">	
	 		<label for="titulo">Ingrese el título del tema:</label>
	 		<input type="text" class="imptitulo" id="titulo" placeholder="Mi título" />
	 		<label for="date">Fecha:</label>
	 		<input type="date" id="date"/>
	 		<label for="text">Ingresar Post:</label>
	 		<textarea name="Name" rows="8" cols="80" id="text" placeholder="Mi texto" ></textarea>
	 		<span>Compartir y guardar</span>
	 		<button type="submit" class="btn btnaddBlog">Guardar</button>
 		</form>
	</div>
    <section>
    	<h3>Mis Blogs</h3>
    	<section class="headerMiblogs">
    		<a href="#">Titulo de mi blog</a>
    		<span class="fechablog">dd/mm/aaaa</span>
    		<a href="">Editar<span class="glyphicon glyphicon-pencil"></span></a>
    		<a href="">Eliminar<span class="glyphicon glyphicon-remove"></span></a>
    	</sectio>
    	<section class="conMiBlog">
    		<p class="texmiblog">
    			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum...
    		</p>
    	</section>
    	
    </section>

	
</section>

