
<section class="contprofile">
	
	<h3>Mis Blogs</h3>
    <ul class="list-group">
    	 	<li class="list-group-item" ng-repeat="blog in usuario.user[cookieValue].blog">
    	 		 <section class="misBlogs1">
			    	<section class="headerMiblogs clearfix">
			    		<a href="" class="pull-left linktituloBlog1" ng-click="tabs.getTabIn(2,blog.idPost)">{{blog.titulo}}</a>
			    		<span class="fechablog pull-left ">{{blog.fecha}}</span>
			    		<a href="" ng-click="tabs.getTabIn(2,blog.idPost)" class="pull-right editdelete">Editar<span class="glyphicon glyphicon-pencil"></span></a>
			    		<a href="" class="pull-right editdelete">Eliminar<span class="glyphicon glyphicon-remove"></span></a>
			    	</section>
			    	<section class="contMiBlog1 ">
			    		<p class="textmiblog">
			    			{{blog.texto}}
			    		</p>
			    	</section>
			    	
			    </section>
			    	 		
    	 	</li>
    	 </ul>
   


	
</section>

