<section class="titleprofile">
	<h1>Mis Blogs_</h1>
	<p>En esta sección usted podrá crear su blog personal y postear su opinión en el mismo, además podrá compartirlo en las diferentes redes sociales de su interés.</p>
</section>

<section class="contprofile">
	<div class="contBtn">
		<button href="#addBlog" id="blog1Btnid" type="button" data-toggle="collapse" class="btn blog1Btn btn-blue">Crear Blog</button>
	</div>
	<div id="addBlog" class="contBlog1 panel-collapse collapse" >
	 		
	 	<form class="formAddBlog clearfix">	
	 		<label for="tituloBlog1">Título:</label>
	 		<input type="text" class="imptitulo" id="tituloBlog1" placeholder="Mi título" />
	 		<label for="dateBlog1">Fecha:</label>
	 		<input type="date" id="dateBlog1"/>
	 		<label for="textBlog1" id="textB1">Ingresar Post:</label>
	 		<textarea name="Name" rows="8" cols="80" id="textBlog1" placeholder="Mi texto" ></textarea>
 		</form>
        <div class="redesSociales cf" >
            <span class="compartirPost">Compartir:</span>
            <ul class="lista">
                <li><a href="#" class="ir sprites" id="Twitter">Twitter</a></li>
                <li><a href="#" class="ir sprites" id="Facebook" >Facebook</a></li>
                <li><a href="#" class="ir sprites" id="GooglePlus">Google Plus</a></li>
            </ul>
            <button type="submit" class="btnaddBlog pull-right">Guardar</button>
        </div>
	</div>
	<h3>Mis Blogs</h3>
    <section class="misBlogs1">
    	<section class="headerMiblogs clearfix">
    		<a href="#" class="pull-left linktituloBlog1">Titulo de mi blog</a>
    		<span class="fechablog pull-left ">dd/mm/aaaa</span>
    		<a href="" class="pull-right editdelete">Editar<span class="glyphicon glyphicon-pencil"></span></a>
    		<a href="" class="pull-right editdelete">Eliminar<span class="glyphicon glyphicon-remove"></span></a>
    	</section>
    	<section class="contMiBlog1 ">
    		<p class="textmiblog">
    			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum...
    		</p>
    	</section>
    	
    </section>
    
    <section class="misBlogs1">
    	<section class="headerMiblogs clearfix">
    		<a href="#" class="pull-left linktituloBlog1">Titulo de mi blog</a>
    		<span class="fechablog pull-left ">dd/mm/aaaa</span>
    		<a href="" class="pull-right editdelete">Editar<span class="glyphicon glyphicon-pencil"></span></a>
    		<a href="" class="pull-right editdelete">Eliminar<span class="glyphicon glyphicon-remove"></span></a>
    	</section>
    	<section class="contMiBlog1 ">
    		<p class="textmiblog">
    			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum...
    		</p>
    	</section>
    	
    </section>
    
    <section class="misBlogs1">
    	<section class="headerMiblogs clearfix">
    		<a href="#" class="pull-left linktituloBlog1">Titulo de mi blog</a>
    		<span class="fechablog pull-left ">dd/mm/aaaa</span>
    		<a href="" class="pull-right editdelete">Editar<span class="glyphicon glyphicon-pencil"></span></a>
    		<a href="" class="pull-right editdelete">Eliminar<span class="glyphicon glyphicon-remove"></span></a>
    	</section>
    	<section class="contMiBlog1 ">
    		<p class="textmiblog">
    			Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum...
    		</p>
    	</section>
    	
    </section>

	
</section>

