<div class="usuarioMenu" ng-controller="PanelController as panel">
	<button type="button" class="usuariosBtn">Crear Usuario</button>
    <button type="button" class="usuariosBtn" >Modificar Usuario</button>
    <button type="button" class="usuariosBtn" >Inhabilitar Usuario</button> 
</div>
              <!--  <ul class="nav nav-pills">
		            <li ng-class="{ active: panel.isSelected(1)}" class="usuariosBtn"><a ng-click="panel.selectTab(1)">Crear Usuario</a></li>
		            <li ng-class="{ active: panel.isSelected(2)}" class="usuariosBtn"><a ng-click="panel.selectTab(2)">Modificar Usuario</a></li>
		            <li ng-class="{ active: panel.isSelected(3)}" class="usuariosBtn"><a ng-click="panel.selectTab(3)">Inhabilitar Usuario</a></li>
	          </ul> -->
        