<div class="usuarioMenu" ng-show="mostrarTabUsuario">
	<!-- <a href ng-click="goCats = !goCats" class="btn btn-primary btn-lg">Toggle Cats</a> -->
	 <button type="button" class="usuariosBtn" ng-click="mostrarCrearUsuario = !mostrarCrearUsuario">Crear Usuario</button>
    <button type="button" class="usuariosBtn" ng-click="mostrarModificarUsuario = !mostrarModificarUsuario">Modificar Usuario</button>
    <button type="button" class="usuariosBtn" ng-click="mostrarInhabilitarUsuario = !mostrarInhabilitarUsuario">Inhabilitar Usuario</button> 

</div>
             