
 <div ng-show="confPanel.isSelected(1)" >


   <div class="usuarioMenu">
	
	  <button type="button" class="usuariosBtn"><a ng-click="userContr.selectTab(1)" id="testi" ng-style="userContr.style1">Crear Usuario</a></button> 
    <button type="button" class="usuariosBtn"><a ng-click="userContr.selectTab(2)" ng-style="userContr.style2">Modificar Usuario</a></button> 
     <button type="button" class="usuariosBtn"><a ng-click="userContr.selectTab(3)" ng-style="userContr.style3">Inhabilitar Usuario</a></button> 

     
    
	</div>



</div>