<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portal Cenfotec</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css"> -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/vendor/star-rating.min.css"/>
  <link rel="stylesheet" href="css/vendor/alertify.core.css"/>
  <link rel="stylesheet" href="css/vendor/alertify.default.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/general.css"/>
  <link rel="stylesheet" href="css/forum.css">
</head>
<body>
  <div class="container">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <project-header></project-header>
    <project-side-nav></project-side-nav>

    <div class="main row" ng-controller="ForumController as forum">
        <div class=" forum forum-config" ng-show="{{!showConfig}}">
          <h3 class="main-header">Mis Foros_</h3>
          <p class="main-text">En esta sección podra accesar a los foros invitados y crear y editar los personales.</p>
          <div class="inine-forum-list" ng-show="{{showList}}" ng-click="forum.showForum()">
            <a href="#forum-create" data-toggle="collapse"><h3  class="config-forumTitle btn-blue">Crear Foro</h3></a>
            <!-- CREAR FOROS -->
          <div id="forum-create" class="forum-create  panel-collapse collapse">
            <div class="create-forumSection" ng-controller="CarrerasControllerForos as universidad">
              <form name="forumForm" ng-submit="forumForm.$valid && forum.createForum(curso) && forum.displayForum()">
                <h4>Titulo</h4>
                <input class="forum-title form-control" id="fTitulo">
                <h4>Periodo</h4>
                <input class="forum-periodo form-control" id="fPeriodo">

                <select ng-mouseleave="universidad.selectCurso()" class="form-control select-carrera">
                  <option val="-1" disable>Seleccione una Carrera</option>
                  <option ng-repeat="carrera in universidad.carreras" val="{{carrera.id}}" >{{carrera.nombre}}</option>
                </select>
                <select class="select-curso form-control">
                  <option val="-1" disable>Seleccione un Curso</option>
                  <option ng-repeat="curso in universidad.cursos" val="{{curso.id}}">{{curso.nombre}}</option>
                </select>

                <h4>Tema del foro</h4>
                <textarea id="fTema" class="form-control"></textarea >
                <div class="clearfix">
                  <h4>Moderador: </h4>
                  <input type="email" class="form-control moderador" >
                  <h4>Invitar Usuarios:</h4>
                  <textarea class="form-control invitados" id="fInvitar"></textarea>
                </div>
                <div class="clearfix">
                  <button type="submit" class="btn-blue pull-right">Guardar</button>
                </div> 
               </form> 
            </div>
            </div> 

            <h4>Mis foros</h4>
            <ul class="clearfix">
              <li ng-repeat="list in forum.lists" data-forumId="{{list.id_foro}}">
                <span ng-if="list.estado == '1'">
                    Activo - 
                </span>
                <span ng-if="list.estado == '2'">
                    Inactivo - 
                </span>
                <a ng-click="forum.displayForum(list)"> {{list.titulo}}</a>
              </li>
            </ul>
            <h4>Otros foros</h4>
            <ul class="clearfix">
              <li>No hay foros</li>
            </ul>
          </div>
          <div class="inine-forum-display" ng-show="{{showForum}}">
            <div class="config-forumSection">
              <input id="id-foro" hidden>
              <h4 id="course-title" class="course-title"></h4>
              <a class="glyphicon glyphicon-remove pull-right" href="#" ng-click="forum.hideForum()">Cerrar</a>
              <a class="glyphicon glyphicon-pencil pull-right collapsed edit" href="#forum-usrs" data-toggle="collapse" ng-click="forum.enableTxt()" >Editar</a> 
              <a style="display:none;" class="glyphicon glyphicon-floppy-saved pull-right save" href="#" ng-click="forum.editarForo()">Guardar</a> 

              <textarea class="main-forum form-control" ng-disabled="{{enable}}" ></textarea>
              
              <div id="add-comment" class="panel-collapse collapse">
                <div class="panel-body">
                  <form name="forumForm" ng-submit="forumForm.$valid && forum.addComment(forum.id_foro)">
                    <h3>Ingrese su Comentario</h3>
                    <textarea ng-model="forum.comment.texto" placeholder="Comentario ..." class="comment-text" id="fComment"></textarea>
                    <button class="btn-blue pull-right" [ng-value="sss"]>Publicar</button>
                  </form>
                </div>
              </div>
              <div id="forum-usrs" class="forum-usrs panel-collapse collapse">
                <div>
                  <label>Cerrar foro?</label>
                  <br><input type="radio" name="estado" value="2">  Si
                  <br><input type="radio" name="estado" value="1">  No
                  <br><label>Moderador: </label>
                  <input type="email" class="form-control moderador">
                  <label>Invitar Usuarios:</label>
                  <textarea class="form-control invitados" ></textarea>
                  <!-- <button class="btn-blue pull-right" ng-click="forum.addToForum()">Agregar</button> -->
                </div>
                <div class="clearfix">
                  <!-- <label>Moderador: </label> <p id="moderadorDisplay"></p>
                  <label>Usuarios Invitados</label> 
                  <ul id="invitadosDisplay">
                  </ul> -->
                </div>  
              </div>
              <a href="#add-comment" data-toggle="collapse" class="comentar-link pull-right" ng-click="forum.setInfo()">Comentar</a>
            </div>
            <div class="comments-lst">
                <h3>Comentarios</h3>
                <div class="clearfix" ng-repeat="comment in comments" style="margin-top:40px;">
                  <a href="#" class="contributor-name">{{comment.email}}</a> <span>{{comment.fecha}}</span>
                  <div class="comment-stars pull-right"><input class="stars" data-size="xs" disabled value="{{comment.calificacion}}"></div>
                  <div class="forum">
                    <p>{{comment.texto}}</p>
                  </div>
                  <h5 class="pull-right"><a href="#" ng-click="forum.denunciar()">Denunciar</a></h5>
                </div>
              </div>
            </div>
          </div>   
    </div>

    <project-footer></project-footer>
  </div>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/jquery-1.11.0.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/star-rating.min.js"></script>
  <script src="js/vendor/angular-cookies.min.js"></script>
  <script src="js/vendor/alertify.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
</body>
</html>
