<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portal Cenfotec</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css"> -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/vendor/star-rating.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/general.css"/>
  <link rel="stylesheet" href="css/forum.css">
</head>
<body>
  <div class="container">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <project-header></project-header>
    <project-side-nav></project-side-nav>

    <div class="main row">
        <div class="forum-search" ng-controller="StudentForumController as forum" >
          <h3>Foros_</h3>
          <p>En esta sección usted podrá buscar foros de interés y comentar los mismos de estar invitado.</p>
          <h3  class="search-title btn-blue">Buscar Foro </h3>
          <div class="search-section" ng-controller="CarrerasController as universidad" >
            <input id="inputbusqueda" class="form-control" placeholder="Buscar">
            <span></span>
            <h4>Búsqueda Avanzada</h4>
            <select ng-mouseleave="universidad.selectCurso()" class="select-carrera">
              <option val="-1" disable>Seleccione una Carrera</option>
              <option ng-repeat="carrera in universidad.carreras" val="{{carrera.id}}" >{{carrera.name}}</option>
            </select>
            <select class="select-curso">
              <option val="-1" disable>Seleccione un Curso</option>
              <option  ng-repeat="curso in universidad.cursos" val="{{curso.id}}">{{curso.name}}</option>
            </select>
            <select style="width: 100%;">
              <option val="-1" disable>Seleccione un Tema</option>
              <option val="1" disable>Tema 1</option>
              <option val="1" disable>Tema 2</option>
              <option val="1" disable>Tema 3</option>
            </select>
            <button class="btn-blue" ng-click="forum.buscarForo()">Buscar</button><br>
            <div style="text-align: center;"><img src="/Proyecto_1/img/loading.gif" class="loading" /> </div>
          </div>
          <div class="Foro-lst" ng-show="forum.showForumList">
            <br>
            <br>
            <label>Resultados de la búsqueda: </label><br>
            <h3>Foros</h3>
            <a href="#" class="Forum-name">pablo@ucenfotec.ac.cr</a> <span>01/01/2014</span>
            <div class="forum">
              <p>Que opinan de la universidad? y de los cursos de 'proyecto 1' para nosotros es importante la opinión de los estudiantes para poder seguir mejorando día con día</p>
            </div>
          </div>
        </div>   
    </div>

    <project-footer></project-footer>
  </div>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/jquery-1.11.0.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/star-rating.min.js"></script>
  <script src="js/vendor/angular-cookies.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
</body>
</html>
