<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portal Cenfotec</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css"> -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/vendor/star-rating.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/general.css"/>
  <link rel="stylesheet" href="css/forum.css">
</head>
<body>
  <div class="container">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <project-header></project-header>
    <project-side-nav></project-side-nav>

    <div class="main row">
        <div class="forum" ng-controller="StudentForumController as forum">
          <h3>Mis Foros_</h3>
          <p>En esta sección podrá ver los foros de este curso y si está invitado puede participar y comentar en el mismo.</p>
          <a href="/Proyecto_1/forum-search.html">Buscar Foros</a>
          <div class="inine-forum-list">
            <h4>Foros</h4>
            <ul class="clearfix">
              <li style="list-style:none;" ng-repeat="list in forum.lists" data-forumId="{{list.id}}"><a style="text-decoration:none;" ng-click="forum.displayForum(list)">{{list.titulo}}</a></li>
            </ul>
          </div>
          <div class="inine-forum-display">
            <div class="forum-lst">
              <h3 id="course" class="course">  </h3>
              <h4 id="course-title" class="course-title"></h4>
              <div class="main-forum">
               
              </div>
              <a href="#add-comment" data-toggle="collapse" class="pull-right">Comentar</a>
              <div id="add-comment" class="panel-collapse collapse">
                <div class="panel-body">
                  <h3>Ingrese su Comentario</h3>
                  <textarea placeholder="Comentario ..."></textarea>
                  <button class="btn-blue pull-right">Publicar</button>
                </div>
              </div>
            </div>
            <div class="comments-lst">
              <h3>Comentarios</h3>
                <div ng-repeat="comment in comments">
                  <a href="#" class="contributor-name">{{comment.nombre}}</a> <span>{{comment.fecha}}</span>
                  <div class="comment-stars pull-right"><img class="usr-avatar" src="/Proyecto_1/img/sample-stars.png"></div>
                  <div class="forum">
                    <p>{{comment.texto}}</p>
                  </div>
                  <h5><a href="#">Evaluar</a></h5>
                  <input class="stars" data-size="xs">
                  <h5 class="pull-right"><a href="#" ng-click="forum.denunciar()">Denunciar</a></h5>
                </div>
            </div>
          </div>
        </div>    
    </div>

    <project-footer></project-footer>
  </div>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/jquery-1.11.0.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/star-rating.min.js"></script>
  <script src="js/vendor/angular-cookies.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
</body>
</html>
