<div class="usuarioMenu">

                  <p>En esta seccion usted define si se muestran los nombres de los usuarios en las respuestas de los foros o permanecen ocultos</p>
                  <div class="vistaUsuarios">
                        <p>Ver nombre de usuarios en foros</p>
                        <label>Permitir</label>
                        <input type="radio" name="estado">
                        <label>No permitir</label>
                        <input type="radio" name="estado" checked> 
                        <button type="submit" class="guardarBtn ">Guardar</button>
</div>